
    select {
        width: 500px;
        height: 50px;
        font-size: 15px;
        background-color: #e9ecef;
        border: none;
    }

    option {
        background-color: #e9ecef;
    }

    input[type=text] {
        width: 900px;
        height: 50px;
        background-color: #e9ecef;
        border: none;

    }

    input[type=button] {
        width: 50px;
        height: 50px;
        background-color: #e9ecef;
        border: none;
    }

    input[type=reset] {
        width: 60px;
        height: 50px;
        background-color: #e9ecef;
        border-radius: 15px;
        color: white;
        margin: 400 0 0 1000;
    }

    input[type=submit] {
        width: 80px;
        height: 50px;
        background-color: #B2B2B2;
        border-radius: 15px;
        color: white;
        margin: 400 0 0 0;
    }
