<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>list</title>

    <link rel="stylesheet" href="{% static 'css/list.css' %}">

    <!--import bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- icon & css setting -->
    <link rel="shortcut icon" href="{% static 'img/icon.svg' %}">
    <link rel="icon" href="{% static 'img/icon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
</head>

<body>
    {% load static %}
    <div class="container">
        <!-- 상단 네비게이션 바 -->
        <nav class="navbar navbar-expand-lg navbar-light mt-3 mb-3">
            <a class="navbar-brand" href="#"><img src="{% static 'img/logo.svg' %}" alt="logo" id="logo"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarTop" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTop">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}" id="home">홈</a> </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'show_list' %}" id="list">목록보기</a> </li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}" id="register">등록하기</a> </li>
                </ul>
            </div>
        </nav>
        
        <div class="col">
            <div class="bg-light container p-4 mt-2 footerBox border">
                <div class="row">
                    <form action = "{% url 'show_list'%}" method = "POST">
                        {% csrf_token %}
                        <select name="s1" id="searchOs">
                            <option selected value="">os선택</option>
                            <option value="윈도우">windows</option>
                            <option value="맥">mac</option>
                        </select>
                        <select name="s2" id="searchProg">
                            <option selected value="">프로그램 선택</option>
                            <option value="일러스트">일러스트</option>
                            <option value="포토샵">포토샵</option>
                            <option value="엑셀">엑셀</option>
                        </select>
                        <input type="text" name="searchValue" width="30" placeholder=" 찾으실 단축키이름을 입력하세요" id="searchValue">
                        <button type="submit" id="searchBtn"><img src="{% static 'img/11.png' %}" class="searchImg"></button>
                    </form>
                </div>
                <div class="row text-center">
                    <table bgcolor="#e9ecef">
                        {% if short_lists == None %}
                        <tr><td>검색 결과가 없습니다.</td></tr>
                        {% endif %}
                        {% for short_list in short_lists %}
                        <tr>
                            <td id="listNum">{{short_list.num}}</td>
                            <td id="os">{{short_list.os}}</td>
                            <td id="program">{{short_list.program}}</td>
                            <td id="listRepValue">{{short_list.action}}</td>
                            <td id="listShortValue">{{short_list.short}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
</body>


</html>